/* ============= GLOBAL ============= */
:root {
  --dark-blue: #363F4F;
  --green: #12A454;
  --light-grenn: #3DD705;
  --red: #E92929;

}


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 93.75%;
}

body {
  background-color: #F0F2F5;
  font-family: 'Poppins', sans-serif;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clear: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.container {
  width: min(90vw, 800px);
  margin: auto;
}

/* ============= TITLES ============= */
h2 {
  margin-top: 3.2rem;
  margin-bottom: 0.8rem;
  color: var(--dark-blue);
  font-weight: 400;
}

/* ============= LINKS & BUTTONS ============= */
a {
  color: var(--green);
  text-decoration: none;
}

a:hover {
  color: var(--light-grenn);
}

.button.new {
  display: inline-block;
  margin-bottom: .8rem;
}

button {
  width: 100%;
  height: 50px;
  border: none;
  color: #FFF;
  background: var(--green);
  padding: 0;
  border-radius: 0.25rem;
  cursor: pointer;
}

.button.cancel {
  color: var(--red);
  border: 2px var(--red) solid;
  border-radius: 0.25rem;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.6;
}

.button.cancel:hover {
  opacity: 1;
}

button:hover {
  background: var(--light-grenn);
}

/* ============= HEADER ============= */
header {
  background-color: #008080;
  padding: 2rem 0 10rem;
  text-align: center;
}

#logo {
  color: #FFF;
  font-weight: 400;
}

#logo .icon {
  color: #46C517;
}

/* ============= BALANCE ============= */
#balance {
  margin-top: -8rem;
}

#balance h2 {
  color: #FFF;
  margin-top: 0;
}

/* ============= CARDS ============= */
.card {
  background-color: #FFF;
  padding: 1.5rem 2rem;
  border-radius: 0.25rem;
  margin-bottom: 2rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.card h3 {
  font-weight: 400;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.card p {
  font-size: 2rem;
  line-height: 3rem;
  margin-top: 1rem;
}

.card.total {
  background-color: var(--green);
  color: #FFF;
}

/* ============= TABLE ============= */
#transaction {
  display: block;
  width: 100%;
  overflow-x: auto;
}

#data-table {
  width: 100%;
  border-spacing: 0 0.5rem;
  color: #969CB3;
}

table thead tr:first-child,
table tbody td:first-child {
  border-radius: 0.25rem 0 0 0.25rem;
}

table thead tr:last-child,
table tbody td:last-child {
  border-radius: 0 0.25rem 0.25rem 0;
}

table thead th {
  background: #FFF;
  font-weight: 400;
  padding: 1rem 2rem;
  text-align: left;
}

table tbody tr {
  opacity: 0.7;
}

table tbody tr:hover {
  opacity: 0.9;
}

table thead tr:hover {
  opacity: 1;
}

table tbody td {
  background: #FFF;
  padding: 1rem 2rem;
}

td.description {
  color: var(--dark-blue);
}

td.income {
  color: #12A454;
}

td.expense {
  color: var(--red);
}

/* ============= MODAL ============= */
.modal-overlay {
  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.7);

  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  opacity: 0;
  z-index: 999;
  visibility: hidden;
}

.modal-overlay.active {
  opacity: 1;
  visibility: visible;
}

.modal {
  background: #F0F2F5;
  padding: 2.4rem;
  position: relative;
  z-index: 1;
}

/* ============= FORM ============= */
#form {
  max-width: 500px;
}

#form h2 {
  margin-top: 0;
}

input {
  border: none;
  border-radius: 0.2rem;
  width: 100%;
  padding: 0.8rem;
  outline: none;
}

.input-group {
  margin-top: 0.8rem;
}

.input-group small {
  opacity: 0.4;
}

.input-group.actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.input-group.actions .button,
.input-group.actions button {
  width: 48%;
}

/* ============= FOOTER ============= */
footer {
  text-align: center;
  padding: 4rem 0 2rem;
  color: var(--dark-blue);
  opacity: 0.6;
}

/* ============= RESPONSIVE ============= */
@media (min-width: 800px) {
  html {
    font-size: 87.5%;
  }

  #balance {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }
}

/* ============= RESPONSIVE 2 ============= */
@media (min-width: 400px) {
  html {
    font-size: 80.5%;
  }
  
table tbody td {
  background: #FFF;
  padding: 1rem 1.2rem;
 }
}
